@media (min-device-width: 600px) {
  img[data-src-600px] {
    content: attr(data-src-600px, url);
  }
}
@media (min-device-width: 800px) {
  img[data-src-800px] {
    content: attr(data-src-800px, url);
  }
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 60px;
  background-color: #e4e4e1;
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
}

form {
  display: block;
  padding-bottom: 20px;
}

h1 {
  font-family: "Merriweather", serif;
  padding-bottom: 10px;
  line-height: 15px;
  color: whitesmoke;
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
}

h2 {
  padding: 0;
  position: relative;
  top: -215px;
  left: 300px;
  font-family: "Merriweather", serif;
  color: whitesmoke;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}

.main-container {
  display: block;
  margin: 0 auto;
  width: 750px;
  height: 575px;
  padding: 35px;
  background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
  border-radius: 10%;
}
