.Weather .subheader {
  display: block;
  padding-top: 0;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: whitesmoke;
  font-weight: lighter;
  font-style: italic;
}

.Weather #description {
  display: block;
  position: relative;
  top: -10px;
  left: 550px;
  padding-top: 0;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: whitesmoke;

  font-weight: bold;
  font-style: italic;
}

.Weather .temp-units {
  font-size: 20px;
  color: whitesmoke;
  position: relative;
  left: -5px;
  top: 60px;
}

.Weather .details {
  list-style: none;
  display: inline;
  position: relative;
  top: -185px;
  left: 300px;
  font-size: 14px;
  color: whitesmoke;
  margin: auto;
  font-weight: lighter;
  font-style: italic;
}

.info-icon {
  display: inline;
  position: relative;
  top: -110px;
  left: 560px;
  padding: 35px 20px;
}
