.Weather .location-button {
  margin-top: 10px;
  color: white;
  background: #0f3460;
  border: solid 1pt black;
  border-radius: 10px;
}

.Weather button {
  position: relative;
  color: #0f3460;
  background: white;
  top: -48px;
  left: 130px;
  border: solid 1pt black;
  border-radius: 10px;
}
