.Weather .subheader {
  display: block;
  padding-top: 0;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: #393b44;
  font-weight: lighter;
  font-style: italic;
}

.Weather #description {
  display: block;
  position: relative;
  top: -10px;
  left: 550px;
  padding-top: 0;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: #393b44;
  font-weight: bold;
  font-style: italic;
}

.Weather .temp-units {
  font-size: 20px;
  color: #16213e;
  position: relative;
  left: -5px;
}

.Weather .details {
  list-style: none;
  display: inline;
  position: relative;
  top: -250px;
  left: 300px;
  font-size: 14px;
  color: #393b44;
  margin: auto;
  font-weight: lighter;
  font-style: italic;
}

.Weather .icon {
  display: inline;
  position: relative;
  top: -150px;
  left: 525px;
  padding: 35px 20px;
}
