.Weather .location-button {
  margin-top: 10px;
  color: white;
  background: #0f3460;
  border: solid 1pt black;
  border-radius: 10px;
}

.Weather button {
  position: relative;
  color: #0f3460;
  background: white;
  top: -48px;
  left: 130px;
  border: solid 1pt black;
  border-radius: 10px;
}

.Weather .forecast-time {
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.Weather .temp {
  display: block;
  font-size: 14px;
  color: #52575d;
  font-weight: bold;
  margin-left: 50px;
}

.Weather .icon {
  display: block;
  padding: 0;
  margin-left: 40px;
}
