.Weather .location-button {
  margin-top: 10px;
  color: white;
  background: #0f3460;
  border: solid 1pt black;
  border-radius: 10px;
}

.Weather button {
  position: relative;
  color: #0f3460;
  background: white;
  top: -48px;
  left: 130px;
  border: solid 1pt black;
  border-radius: 10px;
}

.Weather .far-temp {
  font-size: 20px;
  color: #16213e;
}

.Weather .pipe {
  font-size: 20px;
}

.Weather .cels-temp {
  font-size: 20px;
  color: #16213e;
  position: relative;
  left: -5px;
}

.Weather .subheader {
  display: block;
  padding-top: 0;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: #393b44;
  font-weight: lighter;
  font-style: italic;
}

.Weather #description {
  display: block;
  position: relative;
  top: -10px;
  left: 550px;
  padding-top: 0;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: #393b44;
  font-weight: bold;
  font-style: italic;
}

.Weather .details {
  list-style: none;
  display: inline;
  position: relative;
  top: -250px;
  left: 300px;
  font-size: 14px;
  color: #393b44;
  margin: auto;
  font-weight: lighter;
  font-style: italic;
}

.Weather .icon {
  display: inline;
  position: relative;
  top: -150px;
  left: 525px;
  padding: 35px 20px;
}

.Weather .five-hour-forecast {
  font-family: "Fjalla One", sans-serif;
  color: #16213e;
  font-size: 40px;
  font-weight: 900;
  position: relative;
  top: -200px;
  left: 220px;
}

.Weather .container {
  display: block;
  background: rgb(204, 222, 238);
  width: 670px;
  height: 190px;
  padding-top: 20px;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  top: -200px;
  text-align: center;
}

.Weather .col-2 {
  display: block;
  padding: px;
  margin-left: 15px;
}

.Weather .forecast-time {
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.Weather .temp {
  display: block;
  font-size: 14px;
  color: #52575d;
  font-weight: bold;
}

.Weather .forecast-icon {
  display: block;
  padding: 0;
}
